<% include header %>
<% if (entries.length) { %>
<% entries.forEach(function(entry) { %>
    <% console.log(entry) %>
<div class="panel panel-default abc">
<div class=" xyz">
<div class="pull-right ">
<%= entry.published %></div>
<%= entry.title %></div>
<div class="panel-body">
<%= entry.content %>
</div>
</div>
<% }) %>
<% } else { %>
No entries! <a href="/new-entry">Add one!</a>
<% } %>
<% include footer %>